.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.heading {
  color: #40be4c;
  font-size: 55px;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px 3px #42f153;
}

.button {
  background-color: #fff;
  box-shadow: 1px 1px 3px 0 #000;
  color: #000;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
}

.div-block-10 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 320px;
  min-width: 300px;
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  border-style: solid;
  border-width: 7px;
  border-color: #fff;
  background-color: red;
  background-image: url('../images/index-sidebar-1-689x761.jpg');
  background-position: 0px 0px;
  background-size: cover;
  box-shadow: 0 2px 18px -1px #000;
}

.text-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 0px;
  padding-left: 2px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  font-size: 50px;
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.text-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-left: 1px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  color: #fff;
}

.image-2 {
  max-width: 10%;
  min-height: 10%;
  min-width: 10%;
}

.div-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 90px;
  margin-right: 0px;
  margin-bottom: 10px;
  padding-right: 3px;
  padding-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-image: url('../images/price.png');
  background-position: 0px 0px;
  background-size: cover;
}

.text-block-3 {
  margin-left: 20px;
  color: #fff;
  font-size: 45px;
  text-align: left;
}

.div-block-10-copy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 50%;
  min-width: 300px;
  margin-top: 20px;
  margin-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  border-style: solid;
  border-width: 7px;
  border-color: #fff;
  background-color: red;
  background-image: url('../images/index-sidebar-2-707x347.jpg');
  background-position: 0px 0px;
  background-size: cover;
  box-shadow: 0 2px 18px -1px #000;
}

.div-block-5-copy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 30px;
  margin-right: 0px;
  margin-bottom: 10px;
  padding-right: 3px;
  padding-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-image: url('../images/price.png');
  background-position: 0px 0px;
  background-size: cover;
}

.div-block-10-copy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 50%;
  min-width: 300px;
  margin-top: 20px;
  margin-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  border-style: solid;
  border-width: 7px;
  border-color: #fff;
  background-color: red;
  background-image: url('../images/index-sidebar-1-689x761.jpg');
  background-position: 0px 0px;
  background-size: cover;
  box-shadow: 0 2px 18px -1px #000;
}

.div-block-5-copy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 90px;
  margin-right: 0px;
  margin-bottom: 10px;
  padding-right: 3px;
  padding-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-image: url('../images/price.png');
  background-position: 0px 0px;
  background-size: cover;
}

.div-block-11 {
  min-height: 100%;
}

.navbar {
  background-color: #59a9e6;
  box-shadow: 0 1px 3px 0 #979797;
  color: #13b6df;
}

.columns {
  margin-top: 20px;
  margin-right: 15%;
  margin-left: 15%;
}

.nav-link {
  padding-right: 40px;
  padding-left: 40px;
  border: 0px solid #000;
  border-radius: 23%;
  font-size: 16px;
}

.nav-link-2 {
  font-size: 16px;
}

.nav-link-3 {
  font-size: 16px;
}

.div-block-12 {
  border-style: solid;
  border-width: 1px;
  border-color: #585858 #585858 #666;
  border-radius: 5px;
  box-shadow: 1px 0 3px -1px #333;
}

.text-block-4 {
  margin-right: 5%;
  margin-left: 5%;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 3px solid #59a9e5;
  font-size: 25px;
}

.text-block-5 {
  margin-right: 5%;
  margin-bottom: 10px;
  margin-left: 5%;
}

.image-3 {
  border-radius: 500px;
}

.column {
  text-align: center;
}

.columns-2 {
  margin-top: 2%;
  margin-right: 15%;
  margin-left: 15%;
}

.section {
  margin-top: 3%;
  background-color: #73f3e4;
  background-image: url('../images/Evening_Forests_Mountains_Firewatch_Campo_Santo_549147_2560x1440.jpg');
  background-position: 0px 0px;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: 0 1px 3px 0 #666, 0 -2px 3px 0 #979797;
  color: #31e4cf;
}

.heading-2 {
  color: #000;
  text-align: center;
}

.text-span {
  border-bottom: 3px solid #be33ff;
}

.text-block-6 {
  margin-right: 5%;
  margin-bottom: 3%;
  margin-left: 5%;
  padding-top: 1%;
  color: #000;
  font-size: 25px;
  font-weight: 700;
}

.div-block-13 {
  border-radius: 14px;
  background-color: #fff;
  box-shadow: 1px 1px 3px 0 #757575;
  -webkit-transition: all 200ms ease, height 200ms ease, width 200ms ease, box-shadow 200ms ease;
  transition: all 200ms ease, height 200ms ease, width 200ms ease, box-shadow 200ms ease;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.div-block-13:hover {
  box-shadow: 4px 4px 13px 9px #93259b;
  -webkit-transform: translate3d(0px, 0px, 2px) scale(1.05);
  transform: translate3d(0px, 0px, 2px) scale(1.05);
}

.text-span-2 {
  border-bottom: 3px solid #ab3cdf;
}

.text-block-7 {
  margin-right: 5%;
  margin-left: 5%;
  padding-bottom: 2%;
  color: #000;
}

.columns-3 {
  padding-bottom: 5%;
}

.text-span-3 {
  border-style: solid;
  border-width: 1px 1px 3px;
  border-color: #ab3cdf;
}

.text-span-4 {
  border-bottom: 3px solid #ab3cdf;
}

.text-span-5 {
  border-bottom: 3px solid #be33ff;
}

.column-2 {
  text-align: center;
}

.column-3 {
  text-align: center;
}

.column-4 {
  text-align: center;
}

.text-block-8 {
  font-size: 16px;
}

.section-2 {
  margin-top: 20px;
  background-color: #e7e7e7;
  box-shadow: 0 -1px 3px 0 #999;
}

.text-block-9 {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 10px;
  color: #6e6e6e;
}

.ot-navbar {
  position: -webkit-sticky;
  position: sticky;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 1px 18px -8px #000;
}

.brand-2 {
  position: absolute;
  left: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  height: 60px;
  margin-left: 0px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  background-image: url('../images/LogoOpenTariff.svg');
  background-position: 50% 50%;
  background-size: cover;
}

.container-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.nav-menu-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.tarif-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  font-family: 'Paratype circe', sans-serif;
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
}

.tarif-link:hover {
  color: #fddb00;
}

.tarif-link:focus {
  color: #cd4721;
}

.tarif-link:visited {
  color: #000;
}

.tarif-link.w--current {
  color: #000;
  text-decoration: underline;
}

.tarif-link-copy {
  position: relative;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 60px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  color: #cd4721;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
}

.tarif-link-copy:hover {
  color: #cd4721;
}

.ot-section-vertical {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-53 {
  width: 65%;
  margin-top: 80px;
  margin-bottom: 20px;
  padding: 20px 60px 40px;
  background-color: #fff;
  box-shadow: 8px 8px 20px -20px #000;
}

.heading-17 {
  font-size: 46px;
  line-height: 55px;
}

.form-block-3 {
  margin-top: 60px;
  margin-bottom: 40px;
}

.field-label-3 {
  font-family: 'Paratype circe', sans-serif;
  color: #000;
  font-size: 17px;
}

.select-field-2 {
  background-color: #fff;
  font-family: 'Paratype circe', sans-serif;
}

.submit-button {
  margin-top: 20px;
  border-radius: 5px;
  background-color: #d8685b;
  font-size: 17px;
}

.body {
  background-color: #f5f5f5;
}

.div-block-53-copy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: none;
  width: 65%;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 20px 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-color: #fff;
  box-shadow: 8px 8px 20px -20px #000;
}

.div-block-54 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.div-block-55 {
  width: 20%;
  padding: 10px;
  background-color: #fddb00;
}

.div-block-56 {
  margin-left: 40px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.heading-18 {
  margin-top: 10px;
  font-family: 'Paratype circe', sans-serif;
  font-size: 20px;
  text-align: center;
}

.text-block-10 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  margin-left: -5px;
  font-size: 25px;
  font-weight: 700;
}

.text-span-6 {
  padding-bottom: 5px;
  border-bottom: 3px solid #4a5ea2;
}

.text-block-11 {
  font-family: 'Paratype circe', sans-serif;
  font-size: 20px;
}

.bold-text {
  color: #cd4721;
}

.heading-19 {
  margin-right: 10px;
  font-family: 'Paratype circe', sans-serif;
  text-align: right;
}

.div-block-57 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.section-21 {
  padding: 10vh 40px 20px;
  background-color: #fff;
}

.heading-16 {
  margin-top: 0px;
  font-family: 'Paratype circe', sans-serif;
  font-size: 50px;
  line-height: 60px;
  text-align: center;
}

.text-block-13 {
  width: 55vw;
  margin-top: 4vh;
  font-family: 'Noto Sans', sans-serif;
  color: #525252;
}

.div-block-51 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.button-4 {
  margin-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 7px;
  background-color: #fddb00;
  box-shadow: 3px 3px 7px -4px #000;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  font-family: 'Paratype circe', sans-serif;
  color: #000;
  font-size: 18px;
}

.button-4:hover {
  -webkit-transform: translate(0px, -3px);
  -ms-transform: translate(0px, -3px);
  transform: translate(0px, -3px);
}

.button-4-copy {
  margin-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 7px;
  background-color: #fff;
  box-shadow: 3px 3px 7px -4px #000;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: 'Paratype circe', sans-serif;
  color: #000;
  font-size: 18px;
}

.button-4-copy:hover {
  -webkit-transform: translate(0px, -3px);
  -ms-transform: translate(0px, -3px);
  transform: translate(0px, -3px);
}

.section-22 {
  display: none;
  margin-top: 40px;
  padding: 40px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #f3f3f3;
}

.grid-2 {
  grid-column-gap: 36px;
  grid-row-gap: 36px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
}

.div-block-52 {
  background-color: #4a5ea2;
  background-image: url('../images/OT_Tariff_Square.png');
  background-position: 0px 0px;
  background-size: contain;
}

.body-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.ot-section-horizontal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-right: 40px;
  padding-left: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.ot-text {
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 20px;
  font-family: 'Paratype circe', sans-serif;
  font-size: 17px;
}

.ot-card-div-lagre {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 45vw;
  margin-right: 0px;
  padding: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  background-color: #fff;
  box-shadow: 0 0 11px -6px #000;
}

.ot-body {
  background-color: #f1f1f1;
}

.text-span-7 {
  border-bottom: 4px solid #4a5ea2;
  font-family: 'Noto Sans', sans-serif;
}

.ot-head {
  font-family: 'Paratype circe', sans-serif;
}

.ot-head-span {
  display: inline-block;
  padding-bottom: 5px;
  border-bottom: 4px solid #fddb00;
}

.ot-fin-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-right: 0px;
  padding: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  background-color: #fff;
  box-shadow: 0 0 11px -6px #000;
}

.warn-span {
  display: inline-block;
  padding-bottom: 5px;
  border-bottom: 4px solid #cd4721;
}

.div-block-58 {
  width: 55%;
}

.image-4 {
  max-width: 70%;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.ot-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 45vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.ot-card-div-large {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 55vw;
  margin-right: 0px;
  padding: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  background-color: #fff;
  box-shadow: 0 0 11px -6px #000;
}

.ot-gallery {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.ot-gallery-element {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
  padding-right: 10px;
}

.ot-gallery-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 20px;
  margin-right: 0px;
  padding: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
}

.bold-text-2 {
  font-family: 'Paratype circe', sans-serif;
}

.div-block-59 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .div-block-53 {
    width: 90%;
  }
  .div-block-53-copy {
    width: 90%;
    padding-right: 20px;
    padding-left: 20px;
  }
  .ot-section-horizontal {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .image-4 {
    display: none;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
  }
  .ot-img {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  .ot-card-div-large {
    width: 90vw;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
}

@media screen and (max-width: 767px) {
  .div-block-53 {
    width: 100%;
    margin-top: 20px;
  }
  .div-block-53-copy {
    width: 100%;
  }
  .div-block-54 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .div-block-55 {
    width: 50%;
  }
  .div-block-56 {
    width: 100%;
    margin-top: 20px;
    margin-left: 0px;
  }
  .section-21 {
    padding-left: 10px;
  }
  .div-block-51 {
    text-align: center;
  }
  .ot-section-horizontal {
    padding-right: 0px;
    padding-left: 0px;
  }
  .div-block-58 {
    width: 100%;
    margin-right: 0px;
    padding-right: 5px;
  }
  .ot-card-div-large {
    width: 100vw;
  }
}

@media screen and (max-width: 479px) {
  .brand-2 {
    left: auto;
    top: 0%;
    right: auto;
    bottom: auto;
    margin-left: 0px;
  }
  .heading-19 {
    font-size: 28px;
  }
  .section-21 {
    padding-right: 5px;
    padding-left: 5px;
  }
  .heading-16 {
    font-size: 20px;
    line-height: 30px;
  }
  .ot-text {
    font-size: 15px;
  }
  .ot-head {
    font-size: 25px;
  }
  .div-block-58 {
    padding-right: 0px;
  }
}

@font-face {
  font-family: 'Paratype circe';
  src: url('../fonts/ParaType---Circe-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Paratype circe extra';
  src: url('../fonts/ParaType---Circe-Extra-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Paratype circe extra';
  src: url('../fonts/ParaType---Circe-Extra-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Paratype circe';
  src: url('../fonts/ParaType---Circe-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Paratype circe';
  src: url('../fonts/ParaType---Circe.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Paratype circe';
  src: url('../fonts/ParaType---Circe-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}